@charset="UTF-8";
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: Questrial, sans serif;
	font-size:100%;
}


:root {
	--azul = #1B93CA;
}
.header {
	width:100%;
	display:block;
}

.top-bar {
	width:100%;
	display:block;
	border-bottom: .5px solid #eee;
}

.conteiner {
	width:75%;
	margin:auto;
	padding:8px;
}

.top-bar .conteiner ul {
	list-style:none;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:flex-end;
	cursor:pointer;
}

.top-bar .conteiner ul li a {
	padding: 5px 20px;
	display:block;
	color:#1B93CA;
	font-size: .9rem;
	font-weight:bold;
	text-decoration:none;
	transition: .3s;
}


.top-bar .conteiner ul li a:hover {
	color:#999;
}

/* estilização de menu bar */
.menu-bar {
	display:block;
}

.menu-bar .conteiner {
	display:flex;
	align-items:center;
	justify-content:space-between;
	flex-wrap:wrap;

}

.menu-bar .conteiner figure figcaption {
	background-color:#fff;
	font-size:2rem;
	cursor:pointer;
	color: var(--azul);
	font-transform:capitalize;
}

.menu-bar .conteiner nav ul {
	background-color:black;
	list-style:none;
	display:flex;
	align-items:center;
	justify-content:space-between;
	flex-wrap:wrap;
}



.menu-bar .conteiner nav ul li a {
	text-decoration:none;
	display:block;
	padding:5px 20px;
}


